<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <title>Home</title>
  <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>

<!-- Main Content -->
<main layout:fragment="content">
  <div class="container mt-5 rentManage">

    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1>등록한 숙소들</h1>
      <a th:href="@{/host/{userId}/create(userId=${userId})}" class="btn btn-primary">숙소 생성</a>
    </div>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="rent-list-head">
        <tr>
          <th>숙소 이름</th>
          <th>숙소 가격</th>
          <th>카테고리</th>
          <th>방 타입</th>
          <th>주소</th>
          <th>예약</th>
          <th>수정</th>
          <th>상태</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="accommodation : ${accommodations}">
          <td th:text="${accommodation.title}">숙소 이름</td>
          <td th:text="${accommodation != null and accommodation.pricePerNight != null} ? ${#numbers.formatDecimal(accommodation.pricePerNight, 0, 0)} + '원' : '가격 정보 없음'">숙소 가격</td>
          <td th:text="${accommodation.category}">카테고리</td>
          <td th:text="${accommodation.type}">방 타입</td>
          <td th:text="${accommodation.address} + ' ' + ${accommodation.detailAddress}">주소</td>
          <td>
            <a th:href="@{/reservation/reservationManage/{id}(id=${accommodation.id})}" class="btn btn-info btn-sm">예약 관리</a>
          </td>
          <td>
            <a th:href="@{/rent/modify/{id}(id=${accommodation.id})}" class="btn btn-warning btn-sm">업데이트</a>
          </td>
          <td>
            <span th:text="${accommodation.status}">등록 중</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</main>
</body>
</html>
