/* Color Scheme */
:root {
  --primary-color: white;
  --secondary-color: #6c757d;
  --third-color: #f8215c;
  --background-color: #ffffff;
  --text-color: #343a40;
}

header {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  background-color: var(--primary-color);
  color: #fff;
  border-bottom: 1px solid #ddd;
}

header .nav-link {
  color: #fff;
}

main {
  margin-top: 70px; /* header의 높이만큼 추가 */
  height: calc(100vh - 170px); /* 전체 화면 높이에서 header와 footer 높이를 뺀 값 */
  box-sizing: border-box;
}

footer {
  height: 100px;
  border: 1px solid green;

  background-color: var(--secondary-color);
  color: #fff;
  text-align: center;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* Typography */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f8f9fa;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 15px;
}

p {
  margin-bottom: 15px;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-secondary {
  background-color: var(--secondary-color);
}

.btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* Forms */
input, textarea, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Utility Classes */
.text-center {
  text-align: center;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.mt-2 {
  margin-top: 20px;
}

.mb-2 {
  margin-bottom: 20px;
}

/* Links */
a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Lists */
ul, ol {
  list-style-position: inside;
  margin-left: 20px;
}

